*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  font-family: "Ubuntu", sans-serif;
}

.app {
  display: flex;
  height: 100%;
}
.app__map {
  height: 100vh;
  width: 100vw;
}
.app__head {
  display: flex;
  align-items: center;
  margin: 0.5em 0;
}
.app__logo {
  width: 24px;
  height: 24px;
  align-self: flex-start;
}
.app__header {
  font-size: 1.4rem;
  font-weight: 300;
  color: rgb(214, 222, 224);
  font-weight: bold;
  text-transform: uppercase;
}
.app__sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2d3439;
  z-index: 100;
  overflow-x: hidden;
  padding: 0.25em 3em;
}
.app .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5em 0.5em;
  border-radius: 10px;
  background-color: #42484d;
}
.app .form__row {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 0.5em;
}
.app .form__label {
  padding: 0.25em 0;
  font-size: 1.2rem;
  color: #ececec;
  text-transform: uppercase;
}
.app .form__input {
  width: 80%;
  padding: 0.25em 0.5em;
  margin: 0.5em 0.5em;
  font-size: 1.2rem;
  background-color: #42484d;
  color: #ececec;
  text-align: center;
  font-weight: bold;
  border: 2px solid #00c46a;
  border-radius: 10px;
}
.app .form__btn {
  padding: 0.5em 1em;
  margin: 0.5em 0.25em;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: #00c46a;
  color: #2d3439;
  text-transform: uppercase;
  border: 2px solid rgb(214, 222, 224);
  border-radius: 10px;
  cursor: pointer;
}
.app .workouts__list {
  list-style: none;
}
.app .workouts__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em 0.5em;
  padding: 0.5em;
  background-color: #42484d;
  border-radius: 10px;
}
.app .workouts__title {
  width: 100%;
  font-size: 1.4rem;
  padding-bottom: 1em;
  color: #ececec;
  text-align: center;
}
.app .workouts__details {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em 0;
  font-size: 1.2rem;
  color: rgb(214, 222, 224);
}
.app .workouts__icon {
  font-size: 2rem;
  margin-right: 0.5em;
}
.app .workouts__value {
  margin-right: 0.5em;
}
.app .workouts__unit {
  font-weight: bold;
}

@media (min-width: 375px) {
  .app__logo {
    width: 28px;
    height: 28px;
  }
  .app__sidebar {
    padding: 0.25em 2em;
  }
  .app .form {
    margin: 1em 0.25em;
  }
  .app .form__row {
    padding-bottom: 0.75em;
  }
  .app .form__label {
    font-size: 1.4rem;
  }
  .app .form__input {
    padding: 0.25em 0.5em;
    font-size: 1.4rem;
  }
  .app .form__btn {
    margin: 1em 0;
    padding: 0.5em 1.25em;
    font-size: 1.4rem;
  }
  .app .workouts__details {
    font-size: 1.4rem;
  }
  .app .workouts__icon {
    font-size: 2.2rem;
  }
}
@media (min-width: 768px) {
  .app__header {
    font-size: 1.6rem;
  }
  .app__logo {
    width: 32px;
    height: 32px;
  }
  .app .form__label {
    font-size: 1.6rem;
  }
  .app .form__input {
    font-size: 1.4rem;
  }
  .app .form__btn {
    font-size: 1.4rem;
  }
  .app .workouts__title {
    font-size: 1.6rem;
  }
}
@media (min-width: 992px) {
  .app .form {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .app .form__row {
    padding-bottom: 1em;
  }
  .app .form__label {
    padding: 0.5em 0;
    font-size: 1.8rem;
  }
  .app .form__input {
    width: 150px;
    padding: 0.5em 1em;
    font-size: 1.6rem;
  }
  .app .form__btn {
    width: 60%;
    margin: 2em 4em;
  }
  .app .workouts__item {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
@media (min-width: 1200px) {
  .app .form__input {
    width: 220px;
  }
}/*# sourceMappingURL=main.css.map */