*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  font-family: "Ubuntu", sans-serif;
  background-color: #ddd;
  display: grid;
}

.leaflet-popup-content {
  font-size: 1.4rem;
}

.app {
  display: grid;
  grid-column: 1/-1;
  grid-row: 1/-1;
  grid-template-columns: repeat(2, 50vw);
  grid-template-rows: 10vh 3fr;
}
.app__sidebar {
  grid-column: 1/2;
  grid-row: 2/-1;
  background-color: #2d3439;
  padding: 1em 0.5em;
}
.app__sidebar--hidden {
  opacity: 0;
}
.app__map {
  grid-column: 2/-1;
  grid-row: 2/-1;
  height: 100%;
}
.app__map--active {
  grid-column: 1/-1;
}
.app__weather {
  grid-column: 1/-1;
  background-color: #373c41;
}
.app__head {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-template-columns: 2fr 1fr;
  padding: 0.5em 0.25em;
  margin-bottom: 1em;
}
.app__header {
  color: rgb(214, 222, 224);
  grid-column: 1/2;
  font-size: 1.8rem;
}
.app__logo {
  grid-column: 2/-1;
  width: 28px;
  height: 28px;
  justify-self: center;
}
.app .form {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  padding: 0.5em 0.25em;
  margin: 0.5em 0.25em;
  border-radius: 10px;
  background-color: #42484d;
}
.app .form__row {
  display: none;
  flex-direction: column;
  text-align: center;
  margin-bottom: 0.5em;
}
.app .form__row--active {
  display: flex;
}
.app .form__label {
  margin-bottom: 0.5em;
  font-size: 1.4rem;
  color: #ececec;
  text-transform: uppercase;
}
.app .form__input {
  margin: 0.5em 0.25em;
  padding: 0.5em 0.25em;
  font-size: 1.2rem;
  text-align: center;
  border: 1px solid #00c46a;
  border-radius: 10px;
}
.app .form__btn {
  justify-self: center;
  padding: 0.75em 1.5em;
  margin: 1em 0;
  color: #373c41;
  background-color: #00c46a;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.app .workouts__list {
  list-style: none;
}
.app .workouts__item {
  position: relative;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  margin: 2em 0.5em;
  padding: 0.5em 0.25em;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #42484d;
  cursor: pointer;
}
.app .workouts__item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 3px;
}
.app .workouts__item--running::before {
  background-color: #ffb545;
}
.app .workouts__item--cycling::before {
  background-color: #00c46a;
}
.app .workouts__item--swimming::before {
  background-color: #19A7CE;
}
.app .workouts__item--walking::before {
  background-color: #E21818;
}
.app .workouts__item--skiing::before {
  background-color: #FFEA20;
}
.app .workouts__title {
  font-size: 1.3rem;
  margin-bottom: 0.5em;
  justify-self: center;
  color: #ececec;
}
.app .workouts__icon {
  font-size: 1.6rem;
  margin-left: 0.5em;
}
.app .workouts__details {
  display: grid;
  align-items: center;
  grid-template-columns: 3fr 2fr 2fr;
  margin-bottom: 0.5em;
  font-size: 1.2rem;
}
.app .workouts__value {
  color: #ececec;
}
.app .workouts__unit {
  color: #aaa;
  font-weight: bold;
}

@media (min-width: 375px) {
  .app__header {
    color: rgb(214, 222, 224);
    grid-column: 1/2;
    font-size: 1.8rem;
  }
  .app__logo {
    width: 30px;
    height: 30px;
  }
  .app .workouts__title {
    font-size: 1.4rem;
    margin-bottom: 0.5em;
    justify-self: center;
    color: #ececec;
  }
  .app .workouts__icon {
    font-size: 1.6rem;
    margin-left: 0.5em;
  }
  .app .workouts__details {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 0.5em;
    font-size: 1.3rem;
  }
  .app .workouts__value {
    color: #ececec;
  }
}
@media (min-width: 768px) {
  .app {
    grid-template-columns: 40vw 60vw;
  }
  .app__header {
    font-size: 2rem;
  }
  .app__logo {
    width: 32px;
    height: 32px;
  }
  .app .form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0.5em;
  }
  .app .form__row {
    margin-bottom: 1em;
  }
  .app .form__label {
    font-size: 1.6rem;
  }
  .app .form__btn {
    grid-column: 1/-1;
    padding: 0.75em 1.5em;
  }
  .app .workouts__item {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    padding: 0.25em 0.5em;
  }
  .app .workouts__title {
    grid-column: 1/-1;
    grid-row: 1/2;
    font-size: 1.5rem;
  }
  .app .workouts__icon {
    font-size: 1.6rem;
    margin-left: 0.25em;
  }
  .app .workouts__details {
    display: grid;
    grid-row: 2/3;
    align-items: center;
    grid-template-columns: 3fr 2fr 2fr;
    margin-bottom: 0.5em;
    font-size: 1.2rem;
  }
  .app .workouts__value {
    color: #ececec;
  }
  .app .workouts__unit {
    color: #aaa;
    font-weight: bold;
  }
}
@media (min-width: 992px) {
  .app {
    grid-template-columns: 3fr 9fr;
  }
  .app .workouts__details {
    margin-right: 1em;
  }
}/*# sourceMappingURL=main.css.map */