@use './index' as *;

*,
*::after,
*::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	height: 100vh;
	font-family: 'Ubuntu', sans-serif;
	background-color: #ddd;
	display: grid;
}

.leaflet-popup-content {
	font-size: 1.4rem ;
}

.app {
	display: grid;
	grid-column: 1/-1;
	grid-row: 1/-1;
	grid-template-columns: repeat(2, 50vw);
	grid-template-rows: 10vh 3fr;

	&__sidebar {
		grid-column: 1/2;
		grid-row: 2/-1;
		background-color: $color-dark--1;
		padding: 1em 0.5em;

		&--hidden {
			opacity: 0;
		}
	}

	&__map {
		grid-column: 2/-1;
		grid-row: 2/-1;
		height: 100%;

		&--active {
			grid-column: 1/-1;
		}
	}

	&__weather {
		grid-column: 1/-1;
		background-color: $color-dark--3;
	}

	&__head {
		display: grid;
		justify-content: center;
		align-items: center;
		text-align: center;
		grid-template-columns: 2fr 1fr;
		padding: 0.5em 0.25em;
		margin-bottom: 1em;
	}

	&__header {
		color: $color-light--3;
		grid-column: 1/2;
		font-size: 1.8rem;
	}

	&__logo {
		grid-column: 2/-1;
		width: 28px;
		height: 28px;
		justify-self: center;
	}



	.form {
		display: grid;
		grid-template-rows: repeat(4, 1fr);
		padding: 0.5em 0.25em;
		margin: 0.5em 0.25em;
		border-radius: 10px;
		background-color: $color-dark--2;

		&__row {
			display: none;
			flex-direction: column;
			text-align: center;
			margin-bottom: 0.5em;

			&--active {
				display: flex;
			}
		}

		&__label {
			margin-bottom: 0.5em;
			font-size: 1.4rem;
			color: $color-light--2;
			text-transform: uppercase;
		}

		&__input {
			margin: 0.5em 0.25em;
			padding: 0.5em 0.25em;
			font-size: 1.2rem;
			text-align: center;
			border: 1px solid $color-brand--2;
			border-radius: 10px;
		}

		&__btn {
			justify-self: center;
			padding: 0.75em 1.5em;
			margin: 1em 0;
			color: $color-dark--3;
			background-color: $color-brand--2;
			text-transform: uppercase;
			font-weight: bold;
			border: none;
			border-radius: 10px;
			cursor: pointer;
		}
	}

	.workouts {
		&__list {
			list-style: none;
		}

		&__item {
			position: relative;
			display: grid;
			grid-template-rows: repeat(5, 1fr);
			margin: 2em 0.5em;
			padding: 0.5em 0.25em;
			border-top-right-radius: 10px;
			border-bottom-right-radius: 10px;
			background-color: $color-dark--2;
			cursor: pointer;

			&::before {
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				bottom: 0;
				width: 3px;
			}

			&--running {
				&::before {
					background-color: $color-brand--1;
				}
			}
			&--cycling {
				&::before {
					background-color: $color-brand--2;
				}
			}

			&--swimming {
				&::before {
					background-color: $color-brand--3;
				}
			}
			&--walking {
				&::before {
					background-color: $color-brand--4;
				}
			}
			&--skiing {
				&::before {
					background-color: $color-brand--5;
				}
			}
		}

		&__title {
			font-size: 1.3rem;
			margin-bottom: 0.5em;
			justify-self: center;
			color: $color-light--2;
		}

		&__icon {
			font-size: 1.6rem;
			margin-left: 0.5em;
		}

		&__details {
			display: grid;
			align-items: center;
			grid-template-columns: 3fr 2fr 2fr;
			margin-bottom: 0.5em;
			font-size: 1.2rem;
		}

		&__value {
			color: $color-light--2;
		}

		&__unit {
			color: $color-light--1;
			font-weight: bold;
		}
	}
}

@media (min-width: 375px) {
	.app {
		&__header {
			color: $color-light--3;
			grid-column: 1/2;
			font-size: 1.8rem;
		}

		&__logo {
			width: 30px;
			height: 30px;
		}

		.workouts {
			&__title {
				font-size: 1.4rem;
				margin-bottom: 0.5em;
				justify-self: center;
				color: $color-light--2;
			}

			&__icon {
				font-size: 1.6rem;
				margin-left: 0.5em;
			}

			&__details {
				display: grid;
				align-items: center;
				grid-template-columns: repeat(3, 1fr);
				margin-bottom: 0.5em;
				font-size: 1.3rem;
			}

			&__value {
				color: $color-light--2;
			}
		}
	}
}

@media (min-width: 768px) {
	.app {
		grid-template-columns: 40vw 60vw;

		&__header {
			font-size: 2rem;
		}

		&__logo {
			width: 32px;
			height: 32px;
		}

		.form {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(2, 1fr);
			gap: 0.5em;

			&__row {
				margin-bottom: 1em;
			}

			&__label {
				font-size: 1.6rem;
			}

			&__btn {
				grid-column: 1/-1;
				padding: 0.75em 1.5em;
			}
		}

		.workouts {
			&__item {
				grid-template-rows: repeat(2, 1fr);
				grid-template-columns: repeat(4, 1fr);
				padding: 0.25em 0.5em;
			}

			&__title {
				grid-column: 1/-1;
				grid-row: 1/2;
				font-size: 1.5rem;
			}

			&__icon {
				font-size: 1.6rem;
				margin-left: 0.25em;
			}

			&__details {
				display: grid;
				grid-row: 2/3;
				align-items: center;
				grid-template-columns: 3fr 2fr 2fr;
				margin-bottom: 0.5em;
				font-size: 1.2rem;
			}

			&__value {
				color: $color-light--2;
			}

			&__unit {
				color: $color-light--1;
				font-weight: bold;
			}
		}
	}
}
@media (min-width: 992px) {
	.app {
		grid-template-columns: 3fr 9fr;

		.workouts {
			&__details {
				margin-right: 1em;
			}
		}
	}
}
